.register {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:
            linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 12%),
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
            url("https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/f2cf1eba-2946-447f-b867-496ddbd3ab66/RO-en-20220530-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;

    .top {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
        }

        .logo {
            height: 40px;
        }

        .loginButton {
            font-size: 16px;
            font-weight: 500;
            color: white;
            background-color: red;
            border: none;
            border-radius: 5px;
            padding: 5px 15px;
            cursor: pointer;
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;

        h1 {
            font-size: 50px;
        }

        h2 {
            margin: 20px;
        }

        p {
            font-size: 20px;
        }

        .input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            height: 50px;
            background-color: white;
            border-radius: 5px;
            margin-top: 20px;

            input {
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }

            .registerButton {
                flex: 3;
                height: 100%;
                font-size: 22px;
                color: white;
                background-color: red;
                border: none;
                padding: 0 10px;
                cursor: pointer;
            }
        }
    }
}